# Python caches
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# IDEs
.vscode/
.idea/

# Generations
output/

# Ignore the massive model weights and loras (These go to Hugging Face, not Git)
models/
loras/

# Ignore prompt changes for now
prompts/